.grid-container {
    display: grid;
    grid-template-columns: auto;
    margin-top: 2%;

}
.profile-picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}


.profile-image {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.profile-info {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.profile-quote {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

hr{
    border-top: 19px solid azure !important;
    width: auto;
}

h1,h3{
    color:whitesmoke;
}