<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="grid-container">
                <div class="profile-image">
                    <img src="https://picsum.photos/300/200?image=244" class='profile-picture' alt="" />
                </div>
                <div class="profile-info">
                  <h3> Santosh Shinde  </h3> 
                </div>
                <div class="profile-quote">
                    <h1>Time is money</h1></div>
            </div>
        </div>
    </div>
</div>
<hr>