table {
  width: 40%;
  margin: 0% auto;
}
button {
    margin:  0% auto;
}

.mat-icon{
    color: red !important ;
}

.edit{
    color: green !important ;
}

.mat-icon:hover{
    cursor: pointer ;
}

th{
    font-size:23px
}