table {
  width: 60%;
  margin: 0% auto;
}
button {
    margin:  0% auto;
}

.mat-icon,i{
    color: red !important ;
}

.edit{
    color: green !important ;
}

.mat-icon:hover{
    cursor: pointer ;
}

th{
    font-size:23px
}

td{
    font-size: 17px;
}